header, footer { 
    border: 5px solid red; 
}

h1 { 
    border: 1px dashed red; 
}

nav { 
    border: 5px solid green; 
}

ul { 
    border: 1px solid green; 
}

li { 
    border: 1px dashed green; 
}

main { 
    border: 3px solid blue; 
}

main section {
    border: 1px dashed blue; 
}

main aside {
    border: 1px dashed blue; 
    color: blue;
}
