header, footer { 
    border: 5px solid red; 
}

h1 { 
    border: 1px dashed red; 
}

nav { 
    border: 5px solid green; 
}

ul { 
    border: 1px solid green; 
    list-style: none;
    overflow: auto;
    padding: 0px;
    margin: 0px;
}

li { 
    border: 1px dashed green; 
    display: block;
    float: left;
    width: 33%;
    text-align: center;
}

main { 
    border: 3px solid blue; 
    overflow: auto;
}

main section {
    border: 1px dashed blue; 
    display: block;
    float: left;
    width: 74%;
}

main aside {
    border: 1px dashed blue; 
    color: blue;
    display: block;
    float: right;
    width: 25%;
}
