/* Display HTML5 structural elements as blocks */

article, aside, figure, figcaption, footer, header, secion, main, nav {
    display: block;
}

/* Set the default page element styles */

body * {
    font-family: Helvetica, Verdana, sans-serif;
    font-size: 1em;
    font-weight: inherit;
    line-height: 1.2em;
    list-style: none;
    vertical-align: baseline;
    margin: 0px;
    padding: 0px;
}

figcaption {
    margin-top: 10px;
    font-size: 0.8em;
}

h1 {
    font-size: 2.5em;
}

h2 {
    margin: 20px 0px 10px 0px;
    font-size: 1.2em;
}

main {
    float: left;
    margin: 0px 20px;
}

nav a {
    text-decoration: none;
}

nav.horizontal li {
    float: left;
    margin: 0px 20px 10px 0px;
}

nav.horizontal img {
    opacity: 0.5;
}

nav.horizontal img:hover {
    opacity: 1;
    transform: rotate(-5deg) scale(1.1);
}

nav.vertical {
    border-right-style: solid;
    float: left;
    width: 100px;
    text-align: center;
    padding: 40px 0px;
    margin: 20px 20px 20px 0px;
}

nav.vertical li {
    line-height: 2em;
}

section {
    margin: 40px 0px;
}

table {
    margin: 20px 0px;
    border-collapse: collapse;
}

th {
    background-color: black;
    color: white;
}

td {
    font-size: 0.9em;
}

th, td {
    padding: 5px;
    border: solid 1px;
    width: 100px;
    line-height: 2em;
    text-align: center;
    vertical-align: middle;
}

footer {
    clear: both;
    padding: 40px 0px 20px 0px;
    text-align: center;
    font-size: 0.6em;
    color: gray
}